@font-face {
  font-family: "TT Firs Neue";
  src: url("./TTFirsNeue-Medium.eot");
  src: url("./TTFirsNeue-Medium.eot?#iefix") format("embedded-opentype"),
    url("./TTFirsNeue-Medium.woff2") format("woff2"),
    url("./TTFirsNeue-Medium.woff") format("woff"),
    url("./TTFirsNeue-Medium.svg#TTFirsNeue-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("./TTFirsNeue-DemiBold.eot");
  src: url("./TTFirsNeue-DemiBold.eot?#iefix") format("embedded-opentype"),
    url("./TTFirsNeue-DemiBold.woff2") format("woff2"),
    url("./TTFirsNeue-DemiBold.woff") format("woff"),
    url("./TTFirsNeue-DemiBold.svg#TTFirsNeue-DemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url("./TTFirsNeue-Bold.eot");
  src: url("./TTFirsNeue-Bold.eot?#iefix") format("embedded-opentype"),
    url("./TTFirsNeue-Bold.woff2") format("woff2"),
    url("./TTFirsNeue-Bold.woff") format("woff"),
    url("./TTFirsNeue-Bold.svg#TTFirsNeue-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("./TTFirsNeue-Black.eot");
  src: url("./TTFirsNeue-Black.eot?#iefix") format("embedded-opentype"),
    url("./TTFirsNeue-Black.woff2") format("woff2"),
    url("./TTFirsNeue-Black.woff") format("woff"),
    url("./TTFirsNeue-Black.svg#TTFirsNeue-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("./TTFirsNeue-MediumItalic.eot");
  src: url("./TTFirsNeue-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("./TTFirsNeue-MediumItalic.woff2") format("woff2"),
    url("./TTFirsNeue-MediumItalic.woff") format("woff"),
    url("./TTFirsNeue-MediumItalic.svg#TTFirsNeue-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
