<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521784742210-vdr785p2o05pdc109ej940fbknp580jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521784742210-vdr785p2o05pdc109ej940fbknp580jr</string>
	<key>API_KEY</key>
	<string>AIzaSyB6y5rkcFs65NJe7owiwcnUp7tyu6qkoCo</string>
	<key>GCM_SENDER_ID</key>
	<string>521784742210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Me2.Nike.HookUp</string>
	<key>PROJECT_ID</key>
	<string>hookup-d55e3</string>
	<key>STORAGE_BUCKET</key>
	<string>hookup-d55e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521784742210:ios:c27bac79c92b51694ef8db</string>
	<key>DATABASE_URL</key>
	<string>https://hookup-d55e3.firebaseio.com</string>
</dict>
</plist>