<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722486135094-nuj5j7tr53glfi6c3bkfok5t6k6sgbn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722486135094-nuj5j7tr53glfi6c3bkfok5t6k6sgbn1</string>
	<key>API_KEY</key>
	<string>AIzaSyB4MkJJJjndm3-bjTYbLDALdZHOIZYIkXI</string>
	<key>GCM_SENDER_ID</key>
	<string>722486135094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>design.luannguyen.RealtimeChatMessengerFirebase</string>
	<key>PROJECT_ID</key>
	<string>swiftuirealtimechatmessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuirealtimechatmessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722486135094:ios:c31093e815ad4c2d590b97</string>
</dict>
</plist>